.col-8{

   height: 120rem;
   margin: auto;
}
.img{
   width: 10rem;
   height: 10rem;
   margin-left: 2rem;
   margin-top: 1rem;
}
.miniBoxImg2{
   width: 36rem;
   height: 20rem;
   border: 2px solid;
}

.miniBoxImg{
   width: 20rem;
   height: 20rem;
   border: 2px solid;
}
.d1{
   display: flex;
}
.p1{
 margin-left: 30rem;
}
.col-12{
   background-color: aqua;
   height: 15rem;
}
.img4{
   width: 25rem;
   height: 13rem;
   margin-left: 3rem;
   margin-top: 1rem;
}
.div{
   display: flex;
}
.text{
   margin-left: 3rem;
}
.col-lg-12{
   background-color: aqua;
   height: 15rem;
   margin-top: 2rem;
}
.div2{
   display: flex;
}
.img6{
  
   height: 13rem;
   margin-left: 5rem;
 
}
.col-mg-12{
   background-color: aqua;
   height: 15rem;
   margin-top: 2rem;
}
.img7{
   width: 25rem;
   margin-left: 3rem;
}
.p2{
   margin-left: 3rem;
}
.div3{
   display: flex;
}

.h2{
   margin: auto;
   display: flex;
}
.miniBoxImg3{
   width: 63.2rem;
   height: 30rem;
   border: 2px solid aqua;
   margin-top: 3rem;
}
.p2{
   margin-left: 4rem;
}
.p4{
   margin-left: 4rem;
}
.p5{
   margin-left: 4rem;
}
.p6{
   margin-left: 4rem;
}
.h4{
   margin-left: 4rem;
}
.p7{
   margin-left: 4rem;
}
.p8{
   margin-left: 4rem;
}
.p9{
   margin-left: 4rem;
}
.h5{
   margin-left: 4rem;
}
.p10{
   margin-left: 4rem;
}
.miniBoxImg4{
   width: 63.2rem;
   height: 7.5rem;
   border: 2px solid aqua;
   margin-top: 3rem;
}
.h7{
   margin-left: 3rem;
}
.img10{
    width: 3rem;
    margin-left: 3rem;
}
.img24{
   width: 3rem;
  margin-left: 10rem;
}
.img20{
   width: 3rem;
  margin-left: 15rem;
}